body{
  margin:0;
  font-family:Arial;
  background:#0f0f0f;
  color:white;
}

h1{
  text-align:center;
  color:#ffd000;
}

/* LOGIN */
#login{
  max-width:300px;
  margin:100px auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

input{
  padding:10px;
  border-radius:8px;
  border:none;
}

/* DASHBOARD */
.admin-layout{
  display:none;
  height:100vh;
}

/* SIDEBAR */
.sidebar{
  width:200px;
  background:#1a1a1a;
  padding:10px;
}

.sidebar a{
  display:block;
  padding:10px;
  cursor:pointer;
}

.sidebar a:hover{
  background:#333;
}

/* CONTENT */
.content{
  flex:1;
  padding:15px;
}

/* CARD */
.card{
  background:#1a1a1a;
  padding:15px;
  margin:10px;
  border-radius:10px;
}

/* BUTTON */
button{
  background:#39ff14;
  border:none;
  padding:8px;
  margin:5px;
  cursor:pointer;
  border-radius:6px;
}

button:hover{
  opacity:0.8;
}
