/* 🔥 ГОЛОВНИЙ СТИЛЬ */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#000;
  color:#fff;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  padding:10px 20px;
  align-items:center;
}

.logo img{
  height:30px;
}

.burger{
  color:#39ff14;
  font-size:28px;
  cursor:pointer;
  text-shadow:0 0 10px #39ff14;
}

/* MENU */
nav{
  position:fixed;
  right:0;
  top:0;
  width:240px;
  height:100vh;
  background:#111;
  transform:translateX(100%);
  transition:0.3s;
  padding-top:70px;
  border-left:2px solid #39ff14;
}

nav.active{
  transform:translateX(0);
}

nav a{
  display:block;
  padding:12px;
  color:#39ff14;
  text-decoration:none;
  text-shadow:0 0 10px #39ff14;
}

/* CARDS */
.cards{
  padding:20px;
}

.card{
  background:#1a1a1a;
  padding:15px;
  margin-bottom:15px;
  border-radius:10px;
}

.card:hover{
  box-shadow:0 0 15px #39ff14;
}

.price-title{
  color:#ffd000;
  font-weight:bold;
}

/* FOOTER */
.footer{
  text-align:center;
  padding:20px;
  border-top:1px solid #39ff14;
}

.footer a{
  color:#39ff14;
  text-decoration:none;
}
